version: 2.1

orbs:
  node: circleci/node@2.0.3

commands:
  setup-node-and-yarn-install-with-cache:
    steps:
      - node/install:
          install-yarn: true
          node-version: latest
      - node/install-packages:
          pkg-manager: yarn
          cache-key: yarn.lock

jobs:
  lint-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - setup-node-and-yarn-install-with-cache
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Run semantic release
          command:
           - npm run release
           - npm run semantic-release

workflows:
  run-ci:
    jobs:
      - lint-and-test
