<div class="project-create-dialog">
  <h1 mat-dialog-title>{{ 'PAGES.PROJECT.ADD_KEY' | translate }}</h1>
  <form [formGroup]="keyFormGroup" (keyup.enter)="keyDownFunction()">
  <div mat-dialog-content>

      <mat-form-field class="project-create-dialog_form-field">
        <mat-label>{{ 'PAGES.PROJECT.LANGUAGES_PATH' | translate }}</mat-label>
        <input matInput [formControl]="keyNameControl" autofocus>
      </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClickAction()">
      {{ 'SHARED.BUTTONS.CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary"  [mat-dialog-close]="keyFormGroup.value" cdkFocusInitial>
      {{ 'SHARED.BUTTONS.SAVE' | translate }}
    </button>
  </div>
  </form>
</div>
