<div class="project-create-dialog">
  <h1 mat-dialog-title>{{ 'PAGES.PROJECT.ADD_KEY' | translate }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="keyFormGroup" >
      <mat-form-field class="project-create-dialog_form-field">
        <mat-label>{{ 'PAGES.PROJECT.LANGUAGES_PATH' | translate }}</mat-label>
        <input matInput [formControl]="keyNameControl">
        <button mat-button *ngIf="keyNameControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetKeyNameAction()">
          <mat-icon aria-hidden="false">clear</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClickAction()">
      {{ 'SHARED.BUTTONS.CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary"  [mat-dialog-close]="keyFormGroup.value" cdkFocusInitial>
      {{ 'SHARED.BUTTONS.SAVE' | translate }}
    </button>
  </div>
</div>
